@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  box-sizing: border-box;
  background-color:#33384e;
  color:#fbf3e0;
}

.titulo-destaque{
  color:#992c4b;
}

.apresentacao{
  margin: 10% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao_texto{
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao_texto_titulo{
  font-size: 36px;
  font-family:"Bebas Neue", sans-serif;
}

.aprensentacao_texto_paragrafo{
  font-size: 24px;
  font-family: "Oswald", sans-serif;
}

.apresentacao_links{
  display: flex;
  justify-content: space-between;
}

.apresentacao_links_link{
  background-color:#992c4b;
  width: 280px;
  text-align: center;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: black;
  font-family: "Oswald", sans-serif;
}




